externalApis:
    centerRegister:
        apiUri: "/center/registration"
        supportedMethods:
            POST: "Open"
        params:
            Name:
                required: True
                read-only: False
                type: "unicode"
                hidden: False
            Email:
                required: True
                read-only: False
                type: "unicode"
                hidden: False
            Phone:
                required: True
                read-only: False
                type: "unicode"
                hidden: False
            Bpaa:
                required: True
                read-only: True
                type: "unicode"
                hidden: True
    loyaltyPoints:
        apiUri: "/center/loyalty/points"
        supportedMethods:
            PATCH: "ADMIN"
            GET: "USER"
        params:
            Email:
                required: True
                read-only: False
                type: "unicode"
                hidden: False
            Points:
                required: True
                read-only: False
                type: "unicode"
                hidden: False
    approveCenter:
        apiUri: "/center/confirmed"
        supportedMethods:
            POST: "ADMIN"
        params:
            Bpaa:
                required: True
                read-only: True
                type: "unicode"
                hidden: True
            Path:
                required: True
                read-only: True
                type: "unicode"
                hidden: True
    declineCenter:
        apiUri: "/center/declined"
        supportedMethods:
            POST: "ADMIN"
        params:
            Bpaa:
                required: True
                read-only: True
                type: "unicode"
                hidden: True
            

            




